$heading-size: 3.5rem;
$max-element-width: 40vw;

.app__canvas {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--secondary-color);

  & > .placeholder {
    margin-top: 10vh;
  }

  & :is(h1, h2, h3, h4, h6) {
    font-family: "Playfair Display";
  }

  canvas-element {
    border: none;
    background-color: transparent;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $heading-size;
    }

    $heading-size: $heading-size - 0.5;
  }

  .canvas-element {
    overflow: hidden;
    resize: both;
    max-width: $max-element-width;
  }

  .canvas-element:focus-visible {
    outline: none;
  }

  .canvas-element:focus {
    outline: 0.34rem solid var(--selector-color);
  }

  button.canvas-element,
  a.canvas-element {
    resize: none;
  }

  $button-padding: 1rem 2rem;
  $button-font-size: 1.8rem;

  button {
    padding: $button-padding;
    background-color: var(--button-color);
    border: none;
    border-radius: 0.5rem;
    font-size: $button-font-size;

    color: var(--secondary-color);
    cursor: pointer;
  }

  button:focus {
    outline: none;
  }

  a {
    padding: $button-padding;
    font-size: $button-font-size;
    cursor: pointer;
  }

  p {
    font-family: "roboto";
    font-size: 1.8rem;
  }
}

.empty-canvas {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  h1 {
    font-family: "SF Pro Display";
  }
}
